<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>研修課題</title>
</head>
<body>
  <h1>研修課題(時間丸め計算ツール)</h1>
  <%= form_with url: calculate_time_path, method: :post, local: true, data: { turbo: false } do %>
    <div>
  <label for="time_input">時間入力:</label>
      <%= text_field_tag :time_input, "", id: "time_input", maxlength: 5, pattern: "[0-9]{2}:[0-9]{2}" %>
    </div>

    <div>
      <label for="rounding_option">丸めの選択:</label>
      <%= select_tag :rounding_option, options_for_select([['切り上げ', 'up'], ['切り捨て', 'down'], ['なし', 'none']]), id: "rounding_option" %>
    </div>

    <div>
      <label for="rounding_unit">丸め単位:</label>
      <%= select_tag :rounding_unit, options_for_select([5, 10, 15, 20, 30, 60]), id: "rounding_unit" %>
    </div>

    <div>
      <%= submit_tag "計算する" %>
    </div>
  <% end %>

  <div id="result">
    <%= flash[:result] || "結果はここに表示されます" %>
  </div>

</body>
</html>
